version: 2.0
jobs:
  build:
    docker:
      - image: gcc:latest
    steps:
      - checkout
      - run: sudo apt-get update && sudo apt-get install -y lcov
      - run: git submodule init
      - run: git submodule update
      - run: make coverage

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
