version: 2.0
jobs:
  build:
    docker:
      - image: seandobs/linux-docker
    steps:
      - checkout
      - run:
          name: Install System Dependencies
          command: apt-get update && apt-get install -y lcov
      - run:
          name: Install GoogleTest
          command: git submodule init && git submodule update
      - run:
          name: Running tests
          command: make coverage
      - run:
          name: Uploading coverage
          command: cd report && bash <(curl -s https://codecov.io/bash) -f coverage.info

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
