version: 2.0
jobs:
  build:
    docker:
      - image: "debian:stretch"
    steps:
      - checkout
      - run:
          name: Install Sudo
          command: 'apt-get update && apt-get install -y sudo && rm -rf /var/lib/apt/lists/*'
      - run:
          name: Installing System Dependencies
          command: 'apt-get update && apt-get install -y gcc g++ lcov git make'
      - run:
          name: Install GoogleTest
          command: git submodule init && git submodule update
      - run:
          name: Running Tests
          command: make coverage

workflows:
  version: 2
  build_and_test:
    jobs:
      - build
